[submodule "dlib"]
	path = dlib
	url = https://github.com/reunanen/dlib
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/reunanen/rapidjson
[submodule "cpp-read-file-in-memory"]
	path = cpp-read-file-in-memory
	url = https://github.com/reunanen/cpp-read-file-in-memory
[submodule "dlib-dnn-pimpl-wrapper"]
	path = dlib-dnn-pimpl-wrapper
	url = https://github.com/reunanen/dlib-dnn-pimpl-wrapper
[submodule "tiling"]
	path = tiling
	url = https://github.com/reunanen/tiling
